<style>
  td {padding:10px;text-align: center;}
  th {text-align: center;}
  table {
    margin-left: auto;
    margin-right: auto;
  }
 .myResults {background-image: -webkit-linear-gradient(top, #f6c25c, #e8a21b) }
</style>
<h1 style="
    text-align: center;
    padding-top: 20px;">ACTIVE Leaderboard</h1>

<div class="span6">

              <section class="section lpf">
                <div class="toolbar" id="filters">         
                  <ul class="nav nav-tabs inline">
                      <li class="active"><a href="/">5k</a></li>
                      <li class=""><a href="/">10k</a></li>
                      <li class=""><a href="/">triathlon</a></li>
                  </ul>
                </div>
              </section>
            </div>


 
<br>
